@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toastEnter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toastExit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-toast-enter {
  animation: toastEnter 0.5s ease-out forwards;
}

.animate-toast-exit {
  animation: toastExit 0.5s ease-in forwards;
}